@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ORIGINAL */
  /* --theme-text: #061122;
  --theme-text-contrast: #dce8f9;
  --theme-background: #eff4fc;
  --theme-background-dark: #030911;
  --theme-primary: #20252C;
  --theme-primary-dark: #d3d8df;
  --theme-secondary: #E18D3D;
  --theme-secondary-dark: #c26d1e;
  --theme-accent: #879cb8;
  --theme-accent-dark: #465b77;
  --theme-form: #879cb8; */

/* REVAMP */
  --theme-text: #150c04;
  --theme-text-dark: #fbf2ea;
  --theme-background: #fdf8f2;
  --theme-background-dark: #20252C;
  --theme-page: #ffffff;
  --theme-page-dark: #2a313c;
  --theme-primary: #e18c3d;
  --theme-primary-dark: #c26d1e;
  --theme-secondary: #7f8894;
  --theme-secondary-dark: #6b7480;
  --theme-accent: #65c4e2;
  --theme-accent-dark: #1d7d9a;
  --theme-form: #879cb8;
  --theme-form-dark: #879cb8;
  --theme-divider: rgb(72, 75, 80);
  --theme-divider-dark: #20252C;
}

/* Color of SVG's */
.svg-orange {
  filter: invert(.76) sepia(.14) saturate(38.96) hue-rotate(329deg) brightness(.91) contrast(.93);
}

/* FONTS START */
@font-face {
  font-family: 'NotoSansThai';
  src: url('/fonts/NotoSansThai.ttf') format('truetype');
}
@font-face {
  font-family: "Labrada";
  src: url('/fonts/Labrada-VariableFont_wght.ttf') format('truetype');
}
h1, h2, h3, h4, h5, h6 {
  font-family: NotoSansThai;
}
p {
  font-family: Labrada;
}
/* FONTS END */

/* BASE SETTING START */
* {
  padding: 0px;
  margin: 0px;
  font-family: NotoSansThai;
  line-height: 102% !important;
}
body {
  background-color: var(--theme-primary);
}
.inline-padding {
  padding-inline: 4rem;
}
.main-page {
  min-height: calc(100vh - 5rem);
  padding-top: 5.5rem;
}
/* BASE SETTING END */


/* REUSABLE START */
.cta-button-orange {
  box-shadow: inset 10px 5px 5px var(--theme-primary-dark);
  background-color: var(--theme-primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
  border-radius: 0.5rem;
}
.cta-button-orange:hover {
  box-shadow: inset 10px 5px 5px #E18D3D;
  transform: scale(103%) rotate(-2deg);
  background-color: #e7a668;
}
/* REUSABLE END */

.navbar {
  border-width: 0.125rem;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
  z-index: 2;
}
.hamburger-menu, ::before, ::after {
  height: 0.25rem;
  width: 2rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease-in-out;
}
.hamburger-menu {
  box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
}
.hamburger-menu::before, ::after{
  position: absolute;
  box-shadow: 5px;
}
.hamburger-side-bar, .active-hamburger-side-bar {
  position: fixed;
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}
.hovering-phone {
  z-index: 3;
}
.hamburger-side-bar {
  transform: translatey(-100%);
}
.active-hamburger-side-bar, .hamburger-side-bar {
  z-index: 1;
}

/* FOOTER START */
.copyright-section {
  border-width: 0.125rem;
  border-top-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}
footer .keen-slider {
  border-top-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
  border-width: 0.1rem;
}
.social-quicklink {
  height: 2rem;
  width: 2rem;
  margin-bottom: 1rem;
  margin-right: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.social-quicklink:hover {
  transform: scale(115%) rotate(4deg);
}
/* FOOTER END */

/* HOVERABLES START */
.hovering-phone, .hovering-email{
  transition: all 0.5s ease-in-out;
  border: 0.1rem solid var(--theme-background);
}
/* HOVERABLES END */

/* HOMEPAGE START */
.hero-image {
  height: 27rem;
  object-fit: cover;
  object-position: right 50% bottom 0%;
  animation: animatedBackground 15s linear infinite alternate;
}

@keyframes animatedBackground {
  from {
    object-position: right 50% bottom 100%;
  }
  to {
    object-position: right 50% bottom 0%;
  }
}
.homepage-hero-blur {
  background-color: #03091193;
}
/* HOMEPAGE END */

/* RESPONSIVE SIZES */
/* sm */
@media (max-width: 640px) {

}

/* md */
@media (max-width: 768px) {
  .inline-padding {
    padding-inline: 1rem;
  }
  .hero-image {
    /* zoom: 140%; */
    height: 17.5rem;
    object-position: right 0% bottom 0%;
    animation: animatedBackground 4s linear infinite alternate;
  }
  @keyframes animatedBackground {
    from {
      object-position: right 0% bottom 100%;
    }
    to {
      object-position: right 0% bottom 0%;
    }
  }
}

/* lg */
@media (max-width: 1024px) {

}