@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-text: #061122;
  --theme-text-contrast: #dce8f9;
  --theme-background: #eff4fc;
  --theme-background-dark: #030911;
  --theme-primary: #20252C;
  --theme-primary-dark: #d3d8df;
  --theme-secondary: #E18D3D;
  --theme-secondary-dark: #c26d1e;
  --theme-accent: #879cb8;
  --theme-accent-dark: #465b77;
  --theme-form: #879cb8;
}

/* Color of SVG's */
.svg {
  filter: invert(86%) sepia(12%) saturate(341%) hue-rotate(183deg) brightness(105%) contrast(95%);
}
.svg-secondary {
  filter: invert(71%) sepia(31%) saturate(1262%) hue-rotate(331deg) brightness(92%) contrast(90%);
}

/* FONTS START */
@font-face {
  font-family: 'NotoSansThai';
  src: url('/fonts/NotoSansThai.ttf') format('truetype');
}
@font-face {
  font-family: "Labrada";
  src: url('/fonts/Labrada-VariableFont_wght.ttf') format('truetype');
}
h1, h2, h3, h4, h5, h6 {
  font-family: NotoSansThai;
}
p {
  font-family: Labrada;
}
/* FONTS END */

/* BASE SETTING START */
* {
  padding: 0px;
  margin: 0px;
  font-family: NotoSansThai;
  line-height: 102% !important;
}
body {
  background-color: var(--theme-primary);
}
.inline-padding {
  padding-inline: 4rem;
}
.main-page {
  min-height: calc(100vh - 5rem);
  padding-top: 5.5rem;
}
/* BASE SETTING END */


/* REUSABLE START */
.cta-button {
  box-shadow: inset 10px 5px 5px var(--theme-secondary-dark);
  transition: all 0.3s ease-in-out;
}
.cta-button:hover {
  box-shadow: inset 10px 5px 5px #E18D3D;
  background-color: #e7a668;
}
/* REUSABLE END */

.navbar {
  z-index: 2;
}
.hamburger-menu, ::before, ::after {
  height: 0.25rem;
  width: 2rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease-in-out;
}
.hamburger-menu {
  box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
}
.hamburger-menu::before, ::after{
  position: absolute;
  box-shadow: 5px;
}
.hamburger-side-bar, .active-hamburger-side-bar {
  position: fixed;
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}
.hovering-phone {
  z-index: 3;
}
.hamburger-side-bar {
  transform: translatey(-100%);
}
.active-hamburger-side-bar, .hamburger-side-bar {
  z-index: 1;
}

/* FOOTER START */
.copyright-section {
  border-width: 0.125rem;
  border-top-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-color: var(--theme-secondary);
}
footer .keen-slider {
  border-top-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-width: 0.1rem;
  border-color: var(--theme-primary);
}
/* FOOTER END */

/* HOVERABLES START */
.hovering-phone, .hovering-email{
  transition: all 0.5s ease-in-out;
  border: 0.1rem solid var(--theme-background);
}
/* HOVERABLES END */

/* HOMEPAGE START */
.hero-image {
  height: 27rem;
  object-fit: cover;
  object-position: right 35% bottom 25%;
  /* animation: animatedBackground 15s linear infinite alternate; */
}

@keyframes animatedBackground {
  from {
    object-position: right 35% bottom 25%;
  }
  to {
    object-position: right 55% bottom 45%;
  }
}
.homepage-hero-blur {
  background-color: #03091193;
}
/* HOMEPAGE END */

/* RESPONSIVE SIZES */
/* sm */
@media (max-width: 640px) {

}

/* md */
@media (max-width: 768px) {
  .inline-padding {
    padding-inline: 1rem;
  }
  .hero-image {
    /* zoom: 140%; */
    height: 17.5rem;
    object-position: right 0% bottom 0%;
    animation: animatedBackground 4s linear infinite alternate;
  }
  @keyframes animatedBackground {
    from {
      object-position: right 0% bottom 0%;
    }
    to {
      object-position: right 0% bottom 100%;
    }
  }
}

/* lg */
@media (max-width: 1024px) {

}